<template>
  <div>
    <azalea-sprout-push-button variant="secondary" @click="docked = !docked">
      <span v-text="docked ? 'View Inline' : 'View Docked'"></span>
    </azalea-sprout-push-button>
    <azalea-plant-audio-player
      :class="{ 'my-8': !docked }"
      :docked="docked"
      :items="[
        {
          tag: 'Luce Unplugged Mixtape',
          title: 'I like rad music',
          description:
            'Music by American Hearts, a sample from the monthly <em>Luce Unplugged</em> concert series that pairs live musical performances by D.C.-area musicians with artworks in the museum’s collection',
          imageSrc:
            'https://s3.amazonaws.com/assets.saam.media/files/styles/ui_medium/s3/images/2018-12/hero-luce-creative-mornings.jpg',
          sources: [
            {
              src: 'https://s3.amazonaws.com/assets.saam.media/files/files/audio/2019-03/817%20I%20like%20Bad%20Music.mp3',
              type: 'audio/mp3',
            },
          ],
        },
        {
          tag: 'Luce Unplugged Mixtape',
          title: 'Training Wheels',
          description: 'Music by Star FK Radium',
          imageSrc:
            'https://s3.amazonaws.com/assets.saam.media/files/styles/max_650x650/s3/files/images/audio/2019-03/SAAM-1999.25_1.jpg',
          sources: [
            {
              src: 'https://s3.amazonaws.com/assets.saam.media/files/files/audio/2019-03/800%20Training%20Wheels.mp3',
              type: 'audio/mp3',
            },
          ],
        },
        {
          tag: 'Luce Unplugged Mixtape',
          title: 'Balloon Ride Ending in a Swim',
          description: 'Music by Fire and the Wheel',
          imageSrc:
            'https://s3.amazonaws.com/assets.saam.media/files/styles/max_650x650/s3/files/images/audio/2019-03/SAAM-1913.6.1_1.jpg',
          sources: [
            {
              src: 'https://s3.amazonaws.com/assets.saam.media/files/files/audio/2019-03/814%20Balloon%20Ride%20Ending%20in%20a%20Swim.mp3',
              type: 'audio/mp3',
            },
          ],
        },
      ]"
    >
      <template #transcript>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ille, ut dixi, vitiose. Cur iustitia laudatur?
          Memini vero, inquam; Hoc mihi cum tuo fratre convenit.
        </p>
        <p>
          Si longus, levis. Certe, nisi voluptatem tanti aestimaretis. Itaque his sapiens semper vacabit. Nihil ad rem!
          Ne sit sane; Si longus, levis. At certe gravius.
        </p>
        <p>
          Utram tandem linguam nescio? Nemo igitur esse beatus potest. Quid sequatur, quid repugnet, vident. Quis hoc
          dicit? Comprehensum, quod cognitum non habet? Cur post Tarentum ad Archytam?
        </p>
        <p>
          Qui ita affectus, beatum esse numquam probabis; Non quam nostram quidem, inquit Pomponius iocans; Ego vero
          volo in virtute vim esse quam maximam; Duo Reges: constructio interrete.
        </p>
        <p>
          Quis enim redargueret? Nemo igitur esse beatus potest. Laboro autem non sine causa; Quo studio Aristophanem
          putamus aetatem in litteris duxisse? Itaque contra est, ac dicitis;
        </p>
      </template>
    </azalea-plant-audio-player>
  </div>
</template>

<script>
  export default {
    name: 'DemoAudioPlayerPreview',
    data() {
      return {
        docked: false,
      }
    },
  }
</script>
