<template>
  <div>
    <azalea-sprout-push-button variant="secondary" @click="visible = !visible">
      <span v-text="visible ? 'Drawer opened' : 'Open Drawer'"></span>
    </azalea-sprout-push-button>
    <azalea-plant-drawer v-show="visible" side="left" @close-drawer="visible = !visible">
      <template #header>
        <div class="flew h-12 m-2 border-dashed border-2 border-secondary-500">
          <span class="m-2 text-sm text-center">Header</span>
        </div>
      </template>
      <template #nav>
        <div class="flew h-32 m-2 border-dashed border-2 border-secondary-500">
          <span class="m-2 text-sm text-center">Nav</span>
        </div>
      </template>
      <template #footer>
        <div class="flex h-12 m-2 border-dashed border-2 border-secondary-500">
          <span class="m-2 text-sm text-center">Footer</span>
        </div>
      </template>
    </azalea-plant-drawer>
  </div>
</template>

<script>
  export default {
    name: 'DemoDrawerPreview',
    data() {
      return {
        visible: false,
      }
    },
  }
</script>
