<template>
  <div>
    <azalea-sprout-push-button variant="secondary" @click="visible = !visible">
      <span v-text="visible ? 'Modal opened' : 'Open Modal'"></span>
    </azalea-sprout-push-button>
    <azalea-plant-modal v-if="visible" @close-modal="visible = !visible">
      <template #header>
        <azalea-sprout-heading :level="6" size="large" :class="`inline-block mr-4`"
          >Header content</azalea-sprout-heading
        >
      </template>
      <template #body>
        <div class="flew h-32 m-2 border-dashed border-2 border-secondary-500">
          <span class="m-2 text-sm text-center">Body</span>
        </div>
      </template>
    </azalea-plant-modal>
  </div>
</template>

<script>
  import AzaleaSproutHeading from '@/components/azalea/sprout/Heading'
  export default {
    name: 'DemoModalPreview',
    components: { AzaleaSproutHeading },
    data() {
      return {
        visible: false,
      }
    },
  }
</script>
