<template>
  <div>
    <div class="relative overflow-hidden">
      <div class="pt-8 pb-8 rounded-t-xl overflow-hidden bg-gradient-to-r from-tertiary-50 to-tertiary-100 shadow-xl">
        <header
          v-if="title"
          class="w-full mb-8 px-4 pb-4 border-b border-tertiary-300 text-base"
          v-text="title"
        ></header>
        <div ref="preview" class="preview px-3 md:px-6 lg:px-8">
          <slot></slot>
        </div>
      </div>
    </div>
    <client-only>
      <div class="-mt-2 z-0 clear-both">
        <pre
          v-if="raw"
          class="code-preview max-h-64 md:max-h-80 rounded-b-xl overflow-hidden azalea-scrollbar-hidden shadow-xl"
        ><code v-if="code" :class="languageClass" v-text="code"></code></pre>
      </div>
    </client-only>
  </div>
</template>

<script>
  /* eslint-disable object-shorthand */
  import Prism from 'prismjs'
  import 'prismjs/components/prism-markup'
  import 'prismjs/components/prism-json'
  import 'prismjs/themes/prism-tomorrow.css'
  import pretty from 'pretty'

  export default {
    name: 'DemoPreview',
    props: {
      title: {
        type: String,
        default: '',
      },
      language: {
        type: String,
        default: 'markup',
      },
    },
    data() {
      return {
        raw: '',
        code: '',
      }
    },
    computed: {
      languageClass() {
        return `language-${this.language}`
      },
    },
    watch: {
      raw: {
        handler: function () {
          this.$nextTick(() => {
            this.code = pretty(this.raw, { ocd: true })
          })
        },
      },
      code: {
        handler: function () {
          this.$nextTick(() => {
            Prism.highlightAll()
          })
        },
      },
    },
    updated() {
      // this.raw = this.$refs.preview.innerHTML
      const preview = this.$refs.preview.cloneNode(true)
      this.walkDom(preview, function (element) {
        // Recursively walk the preview DOM elements and remove Vue's data-v-* attributes.
        const dataset = element.dataset
        for (const key in dataset) {
          element.removeAttribute(
            `data-${key}`
              .split(/(?=[A-Z])/)
              .join('-')
              .toLowerCase()
          )
        }
      })
      this.raw = preview.innerHTML
    },
    methods: {
      walkDom(node, func) {
        func(node)
        node = node.firstChild
        while (node) {
          this.walkDom(node, func)
          node = node.nextSibling
        }
      },
    },
  }
</script>
