<template>
  <footer class="mt-12 p-16 bg-tertiary-100 dark:bg-tertiary-900" aria-labelledby="footer-label">
    this is the site footer
  </footer>
</template>

<script>
  export default {
    name: 'AppFooter',
  }
</script>
