<template>
  <div>
    <azalea-seedling-nav-list :items="pages"></azalea-seedling-nav-list>
    <azalea-sprout-heading :level="4" size="medium" class="inline-flex space-x-2">
      <azalea-sprout-icon icon="puzzle" size="medium" :class="`text-tertiary-600`"></azalea-sprout-icon>
      <azalea-sprout-link href="/design-system/seeds" title="Seeds" class="text-tertiary-600 hover:text-tertiary-900">
        <span>Seeds</span>
      </azalea-sprout-link>
    </azalea-sprout-heading>
    <azalea-seedling-nav-list :items="seeds"></azalea-seedling-nav-list>
    <azalea-sprout-heading :level="4" class="inline-flex space-x-2" size="medium">
      <azalea-sprout-icon icon="template" size="medium" :class="`text-tertiary-600`"></azalea-sprout-icon>
      <azalea-sprout-link
        href="/design-system/components"
        title="Components"
        class="text-tertiary-600 hover:text-tertiary-900"
      >
        <span>Components</span>
      </azalea-sprout-link>
    </azalea-sprout-heading>
    <nav>
      <ul>
        <li v-for="section in components" :key="section.id">
          <azalea-sprout-heading :level="5" class="mb-4" size="small"> {{ section.heading }} </azalea-sprout-heading>
          <azalea-seedling-nav-list :items="section.items"></azalea-seedling-nav-list>
        </li>
      </ul>
    </nav>
    <azalea-sprout-heading :level="4" class="inline-flex space-x-2" size="medium">
      <azalea-sprout-icon icon="document-text" size="medium" :class="`text-tertiary-500`"></azalea-sprout-icon>
      <azalea-sprout-link href="/docs" title="Documentation" class="text-tertiary-600 hover:text-tertiary-900">
        <span>Documentation</span>
      </azalea-sprout-link>
    </azalea-sprout-heading>
    <azalea-seedling-nav-list heading-path="/docs" :items="docs"></azalea-seedling-nav-list>
  </div>
</template>

<script>
  export default {
    computed: {
      menu() {
        return this.$store.state.menu.menu
      },
      pages() {
        return this.menu.filter((item) => item.dir === '/design-system')
      },
      components() {
        const sections = [
          { id: 'sprout', heading: 'Sprouts', items: [] },
          { id: 'seedling', heading: 'Seedlings', items: [] },
          { id: 'plant', heading: 'Plants', items: [] },
          { id: 'garden', heading: 'Gardens', items: [] },
        ]
        const components = this.menu.filter((item) => item.dir.startsWith('/design-system/components'))
        components.forEach((component) => {
          // Move each component menu item to the correct "section"
          const section = component.dir.substring(component.dir.lastIndexOf('/') + 1)
          sections.find((item) => item.id === section).items.push(component)
        })
        return sections
      },
      seeds() {
        return this.menu.filter((item) => item.dir === '/design-system/seeds')
      },
      docs() {
        return this.menu.filter((item) => item.dir === '/docs')
      },
    },
  }
</script>
