<template>
  <div>
    <!-- Upper navbar -->
    <transition name="navbar-fade">
      <div
        v-if="navbarVisible"
        class="fixed w-full h-16 md:h-24 px-4 md:px-12 lg:px-24 py-4 mb-2 text-tertiary-50 bg-primary-800"
      >
        <azalea-sprout-grid template="8">
          <div class="col-span-2">
            <azalea-sprout-link href="#">
              <transition
                enter-active-class="transition ease-out duration-200"
                enter-from-class="opacity-0 translate-y-0"
                enter-to-class="opacity-100 translate-y-1"
                leave-active-class="transition ease-in duration-150"
                leave-from-class="opacity-100 translate-y-1"
                leave-to-class="opacity-0 translate-y-0"
              >
                <img
                  v-if="logoVisible"
                  src="~/assets/images/branding/logo-white-sunburst.svg?data"
                  alt="Smithsonian American Art Museum Logo"
                  class="my-auto w-12 h-12 md:w-16 md:h-16"
                />
              </transition>
            </azalea-sprout-link>
          </div>
          <div class="col-span-4 hidden lg:block">
            <azalea-plant-search-bar
              class="w-full"
              @focused="searchSuggestionsVisible = true"
            ></azalea-plant-search-bar>
          </div>
          <div class="col-span-2 hidden lg:block">
            <div class="flex items-center justify-center space-x-4 pt-2">
              <a href="#" class="bg-primary-700 px-3 py-2 rounded-md text-lg text-tertiary-50 font-medium"
                >Art + Artists</a
              >
              <a
                href="#"
                class="hover:bg-primary-700 hover:text-white px-3 py-2 rounded-md text-lg text-tertiary-50 font-medium"
                >Exhibitions + Events</a
              >
              <a
                href="#"
                class="hover:bg-primary-700 hover:text-white px-3 py-2 rounded-md text-lg text-tertiary-50 font-medium"
                >About</a
              >
            </div>
          </div>
        </azalea-sprout-grid>
      </div>
    </transition>
    <transition
      enter-active-class="transition ease-out duration-200"
      enter-from-class="opacity-0 translate-y-1"
      enter-to-class="opacity-100 translate-y-0"
      leave-active-class="transition ease-in duration-150"
      leave-from-class="opacity-100 translate-y-0"
      leave-to-class="opacity-0 translate-y-1"
    >
      <div
        v-if="searchSuggestionsVisible && navbarVisible"
        class="fixed mt-32 left-1/4 w-1/2 rounded border border-tertiary-300 divide-y divide-tertiary-300 shadow-md"
      >
        <div class="ring-1 ring-black ring-opacity-5 overflow-hidden rounded-ld shadow-lg">
          <div class="grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
            <div class="w-full my-4 text-sm text-tertiary-500 font-light">Suggestions for fake search</div>
            <azalea-seedling-search-suggestion
              v-for="item in [0, 1, 2, 3]"
              :key="item"
              text="Fake suggestion"
              icon-name="clock"
              @suggestion-selected="searchSuggestionsVisible = false"
            ></azalea-seedling-search-suggestion>
          </div>
        </div>
      </div>
    </transition>
    <!-- Lower navbar -->
    <div
      class="w-full flex px-4 md:px-12 lg:px-24 sm:pt-20 md:pt-32 pb-8 border-b border-tertiary-200 text-tertiary-900"
    >
      <azalea-sprout-link href="/" class="flex flex-row flex-nowrap">
        <div class="flex">
          <img
            src="~/assets/images/branding/logo.svg?data"
            alt="Smithsonian American Art Museum Logo"
            class="my-auto w-12 h-12 md:w-16 md:h-16"
          />
        </div>
        <div class="inline-flex flex-col text-4xl font-semibold divide-y divide-tertiary-200 text-primary-900">
          <div class="pl-4 py-2">Smithsonian American Art Museum</div>
          <div class="pl-4 py-2">Renwick Gallery</div>
        </div>
      </azalea-sprout-link>
      <ul class="flex flex-grow justify-end space-x-4">
        <li class="text-base text-tertiary-500 uppercase cursor-pointer">Research</li>
        <li class="text-base text-tertiary-500 uppercase cursor-pointer">Education</li>
        <li class="text-base text-tertiary-500 uppercase cursor-pointer">Support</li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        navbarVisible: true,
        logoVisible: false,
        searchSuggestionsVisible: false,
        lastScrollPosition: 0,
        scrollValue: 0,
        offset: 160,
      }
    },
    // computed: {
    //   logoVisible() {
    //     return this.lastScrollPosition > this.offset - 20
    //   },
    // },
    mounted() {
      this.lastScrollPosition = window.pageYOffset
      window.addEventListener('scroll', this.onScroll)
      // const viewportMeta = document.createElement('meta')
      // viewportMeta.name = 'viewport'
      // viewportMeta.content = 'width=device-width, initial-scale=1'
      // document.head.appendChild(viewportMeta)
    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.onScroll)
    },
    methods: {
      onScroll() {
        if (window.pageYOffset < 0) {
          return
        }
        if (Math.abs(window.pageYOffset - this.lastScrollPosition) < this.offset) {
          return
        }
        this.navbarVisible = window.pageYOffset < this.lastScrollPosition
        this.lastScrollPosition = window.pageYOffset
        this.logoVisible = this.lastScrollPosition > this.offset - 24
      },
    },
  }
</script>
