<template>
  <azalea-garden-navbar>
    <template #logo>
      <azalea-sprout-link href="/design-system" title="Azalea Design system">
        <img src="~/assets/images/branding/azalea.jpg" alt="Azalea Design system" class="rounded-md" />
      </azalea-sprout-link>
    </template>
    <template #primary-nav>
      <ul class="flex flex-row justify-end space-x-8 p-0">
        <li><azalea-sprout-link href="/design-system" title="Design system">Design system</azalea-sprout-link></li>
        <li><azalea-sprout-link href="/docs" title="Documentation">Documentation</azalea-sprout-link></li>
      </ul>
    </template>
    <template #secondary-nav>
      <ul class="flex flex-row justify-end space-x-4 p-0">
        <li><azalea-sprout-link href="/" title="About"> About </azalea-sprout-link></li>
        <li><azalea-sprout-link href="/" title="Projects"> Projects </azalea-sprout-link></li>
        <li>
          <azalea-sprout-link
            href="https://gitlab.com/americanart/azalea"
            title="Gitlab"
            target="_blank"
            :external="true"
          >
            Gitlab
          </azalea-sprout-link>
        </li>
      </ul>
    </template>
    <template #top-bar>
      <span>Version {{ version }}</span>
    </template>
    <template #mobile>
      <azalea-sprout-icon
        icon="menu"
        class="text-sm text-tertiary-500 uppercase cursor-pointer"
        :clickable="true"
        @click.native="$emit('toggle-drawer')"
      >
        Menu
      </azalea-sprout-icon>
    </template>
  </azalea-garden-navbar>
</template>

<script>
  import { version } from '~/package.json'
  export default {
    created() {
      this.version = version
    },
  }
</script>
