<template>
  <div class="w-full lg:w-4/5 xl:w-3/5 m-auto p-2">
    <dl v-for="(item, index) in items" :key="index">
      <azalea-seedling-description-list-item
        :term="item.title"
        :collapsible="collapsible"
        :default-expanded="!!item.active"
      >
        <div class="text-base text-tertiary-500" v-html="item.content"></div>
      </azalea-seedling-description-list-item>
    </dl>
  </div>
</template>

<script>
  import AzaleaSeedlingDescriptionListItem from '~/components/azalea/seedling/DescriptionListItem'
  export default {
    name: 'AzaleaPlantAccordion',
    components: { AzaleaSeedlingDescriptionListItem },
    props: {
      items: {
        type: Array,
        default: () => [],
      },
      collapsible: {
        type: Boolean,
        required: true,
        default: false,
      },
    },
  }
</script>
