<template>
  <client-only>
    <div
      v-show="loaded"
      class="w-full bg-white border-1 border-tertiary-200"
      :class="[docked ? 'fixed bottom-0 left-0 w-full m-0 rounded-none shadow-2xl' : 'rounded-lg shadow-lg']"
    >
      <azalea-seedling-pop-over
        v-if="isPlaylist"
        class="border-1 border-tertiary-200"
        :open="menuVisible"
        :full="true"
        :rounded="false"
        :shadow="false"
        position="above"
        @close-popover="menuVisible = false"
      >
        <div class="grid grid-cols-1 divide-y divide-tertiary-200">
          <div
            v-for="(item, index) in items"
            :key="index"
            class="py-4"
            :class="{ 'bg-secondary-50': index === activeItem }"
          >
            <azalea-sprout-push-button variant="label" class="w-full" @click="selectTrack(index)">
              <azalea-sprout-icon icon="play" class="mr-2"></azalea-sprout-icon>
              <span> {{ item.title }}</span>
            </azalea-sprout-push-button>
          </div>
        </div>
      </azalea-seedling-pop-over>
      <div class="grid grid-cols-4 md:grid-cols-8 gap-x-4 gap-y-8 md:gap-x-4 md:gap-y-8 border-b border-tertiary-200">
        <div
          v-if="current.imageSrc"
          class="col-span-1 md:col-span-2 bg-cover bg-center"
          :class="{ 'rounded-tl-lg': !docked }"
          :style="`background-image: url(${current.imageSrc})`"
        ></div>
        <div class="col-span-3 md:col-span-6">
          <div class="flex flex-row">
            <azalea-sprout-tag
              v-if="current.tag"
              size="small"
              :text="current.tag"
              class="flex-1 self-center md:self-end py-2"
            ></azalea-sprout-tag>
            <azalea-sprout-push-button
              v-if="isPlaylist"
              variant="label"
              class="flex space-x-2 p-0"
              @click="menuVisible = !menuVisible"
            >
              <azalea-sprout-icon icon="menu"></azalea-sprout-icon>
              <span class="sr-only sm:not-sr-only">Playlist</span>
            </azalea-sprout-push-button>
          </div>
          <azalea-sprout-heading v-if="current.title" :level="4" class="my--2 md:my-4">
            {{ current.title }}
          </azalea-sprout-heading>
          <p v-if="current.description" class="sr-only sm:not-sr-only mt-1" v-html="current.description"></p>
          <vue-plyr ref="plyr" class="azalea-audio-player" :options="{ ...defaultOptions, ...options }">
            <audio controls>
              <source v-for="(source, index) in current.sources" :key="index" :src="source.src" :type="source.type" />
              <track v-if="current.captionsSrc" kind="captions" :src="current.captionsSrc" />
            </audio>
          </vue-plyr>
        </div>
      </div>
      <azalea-seedling-description-list-item
        v-if="$slots['transcript']"
        class="col-span-4 md:col-span-8 px-2 md:px-4"
        :default-expanded="false"
        term="View transcript"
        :collapsible="true"
      >
        <div class="p-2 md:p-4">
          <slot name="transcript"></slot>
        </div>
      </azalea-seedling-description-list-item>
    </div>
  </client-only>
</template>

<script>
  import AzaleaSproutPushButton from '@/components/azalea/sprout/PushButton'
  import AzaleaSproutTag from '~/components/azalea/sprout/Tag'
  import AzaleaSproutIcon from '~/components/azalea/sprout/Icon'
  import AzaleaSeedlingPopOver from '~/components/azalea/seedling/PopOver'
  import AzaleaSproutHeading from '~/components/azalea/sprout/Heading'
  import AzaleaSeedlingDescriptionListItem from '~/components/azalea/seedling/DescriptionListItem'

  export default {
    name: 'AzaleaPlantAudioPlayer',
    components: {
      AzaleaSeedlingPopOver,
      AzaleaSproutPushButton,
      AzaleaSeedlingDescriptionListItem,
      AzaleaSproutIcon,
      AzaleaSproutTag,
      AzaleaSproutHeading,
    },
    props: {
      /**
       * Plyr options
       * see: https://github.com/sampotts/plyr#options
       */
      options: {
        type: Object,
        default: () => {},
      },
      /**
       * An Array of playlist audio objects.
       * Example:
       * {
       *    sources: [
       *      {
       *        src: '/path/to/audio.mp3',
       *        type: 'audio/mp3'
       *      }
       *    ],
       *    title: 'The Audio Title"
       *    tag: 'Tag text',
       *    description: '',
       *    imageSrc: 'path/to/cover/image.jpg',
       *    captionSrc: 'path/to/transcript.vtt'
       * }
       */
      items: {
        type: Array,
        default: () => [],
      },
      /**
       * Index of the default audio item to load.
       */
      defaultActiveItem: {
        type: Number,
        default: 0,
      },
      docked: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        defaultOptions: {
          /**
           * Plyr controls.
           * see:https://github.com/sampotts/plyr/blob/master/CONTROLS.md#example
           */
          controls: [
            'play', // Play/pause playback
            'progress', // The progress bar and scrubber for playback and buffering
            'current-time', // The current time of playback
            'duration', // The full duration of the media
            'mute', // Toggle mute
            'volume', // Volume control
            'captions', // Toggle captions
          ],
        },
        activeItem: 0,
        menuVisible: false,
        loaded: false,
      }
    },
    computed: {
      player() {
        return this.$refs.plyr.player
      },
      current() {
        const track = this.items[this.activeItem]
        // The Plyr API requires a specific "type" property value.
        track.type = 'audio'
        return track
      },
      isPlaylist() {
        return this.items.length > 1
      },
    },
    mounted() {
      // Set the default active item
      this.activeItem = this.defaultActiveItem
      this.$refs.plyr.player.on('ready', () => (this.loaded = true))
    },
    methods: {
      selectTrack(value) {
        this.activeItem = value
        this.player.stop()
        this.player.source = this.current
        this.player.play()
      },
    },
  }
</script>
