<template>
  <component
    :is="container.component"
    v-bind="{ ...container.props }"
    class="flex flex-col rounded overflow-hidden"
    :class="['azalea-card', variant, fullWidth ? 'w-full' : 'max-w-md', { 'azalea-card-hover-effect': hoverEffect }]"
  >
    <!-- Media -->
    <div
      v-if="hasSlot('media') || image"
      class="media flex w-full mb-4"
      :class="{ 'max-h-64 md:max-h-80 lg:max-h-96': !fullWidth }"
    >
      <azalea-sprout-link v-if="link && image" :href="link" class="mx-auto">
        <azalea-sprout-image :src="image.src" :alt="image.alt"></azalea-sprout-image>
      </azalea-sprout-link>
      <azalea-sprout-image v-else-if="!link && image" :src="image.src" :alt="image.alt"> </azalea-sprout-image>
      <slot name="media"></slot>
    </div>
    <!-- Header -->
    <header v-if="title || hasSlot('header')" class="p-4">
      <div v-if="tag" class="mb-2">
        <azalea-sprout-tag size="small" :text="tag"></azalea-sprout-tag>
      </div>
      <div v-if="title">
        <azalea-sprout-link v-if="link" :href="link" class="font-medium text-3xl text-black">
          <span>{{ title }}</span>
        </azalea-sprout-link>
        <span v-else class="font-bold text-xl">{{ title }}</span>
      </div>
      <slot name="header"></slot>
    </header>
    <!-- Body -->
    <div v-if="body || hasSlot('body')" class="body px-4 pb-4">
      <div v-if="body">
        <component :is="body.component" v-bind="{ ...body.props }"></component>
      </div>
      <slot name="body"></slot>
    </div>
    <!-- Footer -->
    <footer v-if="hasSlot('footer')" class="px-4 pb-4 text-left">
      <slot name="footer"></slot>
    </footer>
  </component>
</template>

<script>
  import AzaleaSproutImage from '@/components/azalea/sprout/Image'
  import AzaleaSproutLink from '~/components/azalea/sprout/Link'

  export default {
    name: 'AzaleaPlantCard',
    components: { AzaleaSproutImage, AzaleaSproutLink },
    props: {
      as: {
        type: Object,
        default: () => {},
      },
      body: {
        type: Object,
        default: () => null,
      },
      fullWidth: {
        type: Boolean,
        default: false,
      },
      hoverEffect: {
        type: Boolean,
        default: false,
      },
      image: {
        type: Object,
        default: () => {},
      },
      link: {
        type: String,
        default: '',
      },
      tag: {
        type: String,
        default: '',
      },
      title: {
        type: String,
        default: '',
      },
      variant: {
        type: String,
        default: 'default',
      },
    },
    data() {
      return {
        defaultContainer: { component: 'div', props: {} },
      }
    },
    computed: {
      container() {
        // Get possible dynamic component for the Card's root element.
        return typeof this.as === 'object' && Object.prototype.hasOwnProperty.call(this.as, 'component')
          ? this.as
          : this.defaultContainer
      },
    },
    methods: {
      hasSlot(name = 'default') {
        return !!this.$slots[name] || !!this.$scopedSlots[name]
      },
    },
  }
</script>

<style lang="postcss">
  .azalea-card {
    &.primary {
      @apply bg-primary-700;
    }
    &.secondary {
      @apply bg-secondary-500;
    }
    &.primary,
    &.secondary {
      @apply text-tertiary-50;
      & header a {
        @apply text-tertiary-50;
      }
    }
    &.tertiary {
      @apply bg-tertiary-300;
    }
    &.default {
      @apply bg-white;
      & .body {
        @apply text-tertiary-800;
      }
    }
  }
</style>
