<template>
  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div
        :id="id"
        tabindex="0"
        role="group"
        :aria-labelledby="`${id}-caption`"
        class="align-middle inline-block min-w-full sm:px-6 lg:px-8"
      >
        <table class="min-w-full overflow-hidden bg-white shadow-sm">
          <caption :id="`${id}-caption`" v-text="caption"></caption>
          <thead v-if="colHeaders">
            <tr>
              <th v-for="(header, index) in colHeaders" :key="index" scope="col">{{ header }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in items" :key="index">
              <component
                :is="i === 0 && rowHeaders ? 'th' : 'td'"
                v-for="(data, i) in item"
                :key="i"
                :scope="i === 0 && rowHeaders ? 'row' : false"
              >
                {{ item[i] }}
              </component>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  import { v4 as uuid } from 'uuid'

  export default {
    name: 'AzaleaPlantTabularData',
    props: {
      caption: {
        type: String,
        default: '',
        required: true,
      },
      /**
       * An array of row values
       */
      items: {
        type: Array,
        default: () => [],
      },
      colHeaders: {
        type: Array,
        default: () => [],
      },
      /**
       * Use the first col value of each row as a row header.
       */
      rowHeaders: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        id: null,
      }
    },
    mounted() {
      this.id = uuid()
    },
  }
</script>
