@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base font-body subpixel-antialiased leading-6;
    height: 100%;
  }

  blockquote,
  pre,
  code {
    @apply font-body font-normal leading-relaxed subpixel-antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    & a {
      @apply text-primary-900;
    }
  }

  h1 {
    @apply text-5xl md:text-6xl lg:text-7xl xl:text-8xl leading-none font-semibold tracking-tighter mb-4 md:mb-5 lg:mb-6;
  }

  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl leading-none font-semibold tracking-tight mb-3 md:mb-4 lg:mb-5;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl leading-normal font-semibold tracking-tight mb-2 md:mb-3 lg:mb-4;
  }

  h4 {
    @apply text-xl lg:text-2xl leading-normal font-semibold tracking-normal mb-1 md:mb-2 lg:mb-3;
  }

  h5 {
    @apply sm:text-lg lg:text-xl leading-normal font-semibold tracking-normal mb-1 md:mb-2 lg:mb-3;
  }

  h6 {
    @apply text-sm leading-normal font-medium tracking-wider uppercase mb-1 md:mb-2 lg:mb-3;
  }
  a {
    @apply text-secondary-700 no-underline;
  }
  a.azalea-underline {
    @apply inline-block;
  }
  a.azalea-underline:after {
    @apply block border-b w-0;
    content: '';
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
  }
  a.azalea-underline:hover:after {
    width: 100%;
  }

  figcaption {
    @apply my-4 text-sm font-light;
  }

  strong {
    @apply font-medium;
  }

  i {
    @apply font-light italic;
  }

  label {
    @apply font-medium font-heading leading-snug subpixel-antialiased;
  }

  mark {
    @apply bg-secondary-200 font-light;
  }

  blockquote {
    @apply text-xl py-2 px-4 italic text-tertiary-900 border-l-2 border-tertiary-200;
  }

  pre,
  code {
    @apply font-mono overflow-x-auto;
  }

  sup,
  sub {
    @apply align-baseline -mt-1;
  }

  ul,
  ol {
    @apply pl-4 list-none text-lg md:text-xl leading-normal font-light;
    & li {
      @apply py-1;
    }
  }
  ol {
    counter-reset: li;
    & li {
      counter-increment: li;
      &::before {
        content: counter(li);
        @apply text-lg md:text-xl leading-normal font-light inline-block w-4 -ml-4 mr-2 text-right text-tertiary-500 lining-nums;
      }
    }
  }

  dl {
    & dt {
      @apply pt-4 border-t border-tertiary-200 text-lg md:text-xl leading-7 font-semibold;
    }

    & dd {
      @apply my-4 text-lg md:text-xl leading-7 font-light text-tertiary-800;
    }
  }

  table {
    @apply w-full my-4 table-auto text-left rounded-md;
    & caption {
      @apply my-4 text-left text-lg font-medium;
    }
    & thead {
      @apply border-b-2 border-tertiary-300 bg-tertiary-100 font-bold uppercase tracking-widest;
      & th {
        @apply px-6 py-4 align-bottom;
      }
    }
    & tbody {
      @apply border-b border-tertiary-200 font-light;
      & tr {
        @apply border-b border-tertiary-200;
        &:last-child {
          @apply border-0;
        }
        & td,
        & th {
          @apply text-lg md:text-xl px-6 py-4 align-top whitespace-nowrap;
        }
        & th {
          @apply font-bold tracking-widest;
        }
      }
    }
  }

  hr {
    @apply border-tertiary-200 border-t;
  }

  ::selection {
    @apply bg-secondary-300;
  }

  /**
   * Base styles optimized for the "reading" experience.
   */
  .azalea-reader {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply max-w-screen-md mx-auto my-4 md:my-5 lg:my-6;
    }
    & p {
      @apply max-w-screen-md mx-auto font-body text-lg md:text-xl leading-normal font-light mb-4 md:mb-5 lg:mb-6;
    }
    & ul,
    & ol {
      @apply max-w-screen-lg mx-auto font-body text-tertiary-600 text-xl md:text-2xl lg:text-3xl my-4 md:my-5 lg:my-6;
      & li {
        @apply py-2 lg:py-4;
      }
    }
    & img,
    & figure {
      @apply max-h-screen mx-auto block my-4 md:my-6 lg:my-7;
    }
    & div.azalea-caption,
    & figure > figcaption {
      @apply max-w-screen-md mx-auto block text-left;
      & p,
      & div {
        @apply font-body text-sm;
      }
    }
    & div.azalea-audio-player,
    & div.azalea-video-player {
      @apply mx-auto my-4 md:my-6 lg:my-7;
    }
    & div.azalea-audio-player {
      @apply max-w-screen-lg;
    }
    & blockquote {
      @apply max-w-screen-lg p-4 md:p-6 xl:p-12 font-body subpixel-antialiased leading-6 text-left text-2xl md:text-3xl lg:text-4xl font-normal text-tertiary-800;
    }
    input[type='range'] {
      @apply appearance-none w-full h-4 bg-secondary-800 rounded-sm bg-tertiary-300;
    }
    input[type='range']::-webkit-slider-thumb {
      @apply appearance-none w-12 h-12 rounded-lg bg-secondary-400 cursor-move shadow-lg transition-all;
    }
    input[type='range']::-webkit-slider-runnable-track {
      @apply appearance-none shadow-none border-0 bg-transparent;
    }
  }
}

@layer utilities {
  p.azalea-text-lg,
  .azalea-text-lg p {
    @apply my-1.5 md:my-2 lg:my-3 xl:my-3.5;
  }
  p.azalea-text-md,
  .azalea-text-md p {
    @apply my-1.5 md:my-2 lg:my-3 xl:my-3.5;
  }
  p.azalea-text-sm,
  .azalea-text-sm p {
    @apply my-1.5 md:my-2 lg:my-3 xl:my-3.5;
  }
  .azalea-scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .azalea-touch-action {
    /* @see: https://github.com/tailwindlabs/tailwindcss/discussions/3020 */
    touch-action: manipulation;
  }
  .azalea-bg-gradient {
    @apply bg-gradient-to-b from-secondary-200 to-secondary-300;
  }
  .azalea-range {
    @apply appearance-none bg-transparent w-full;
    &:focus-visible::-webkit-slider-thumb {
      @apply shadow-lg;
    }
    &:focus-visible::-moz-range-thumb {
      @apply shadow-lg;
    }
    &::-webkit-slider-runnable-track {
      @apply rounded-md h-3 w-full bg-tertiary-200 border-tertiary-500 shadow-inner;
    }
    &::-moz-range-track {
      @apply rounded-md h-3 w-full bg-tertiary-200 border-tertiary-500 shadow-inner;
    }
    &::-webkit-slider-thumb {
      @apply rounded-full w-6 h-6 relative bg-secondary-600 transition-all ease-in-out duration-300 border-none;
      -webkit-appearance: none;
      top: 50%;
      transform: translateY(-50%);
      cursor: ew-resize;
    }
    &::-moz-range-thumb {
      @apply rounded-full w-6 h-6 relative bg-secondary-600 transition-all ease-in-out duration-300 border-none;
      top: 50%;
      cursor: ew-resize;
    }
  }

  /**
   * Responsive variants.
   */
  @variants responsive {
    .azalea-text-lg {
      @apply text-xl md:text-2xl leading-normal font-light;
    }
    .azalea-text-md {
      @apply text-lg md:text-xl leading-normal font-light;
    }
    .azalea-text-sm {
      @apply text-base md:text-lg leading-normal font-light;
    }
    .azalea-container-lg {
      @apply max-w-screen-2xl my-3 md:my-6 mx-2 md:mx-auto;
    }
    .azalea-container-md {
      @apply max-w-screen-lg my-3 md:my-6 mx-2 md:mx-auto;
    }
    .azalea-container-sm {
      @apply max-w-screen-md my-3 md:my-6 mx-2 md:mx-auto;
    }
    .azalea-wall-6-col {
      column-count: 6;
      column-gap: 1.25em;
    }
    .azalea-wall-5-col {
      column-count: 5;
      column-gap: 1em;
    }
    .azalea-wall-4-col {
      column-count: 4;
      column-gap: 1em;
    }
    .azalea-wall-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .azalea-wall {
      column-count: 2;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }

  /**
    Transforms
   */
  .azalea-card-hover-effect {
    @apply transform ease-in-out duration-500 hover:-translate-y-1 hover:shadow-xl;
  }
}
