<template>
  <div class="bg-white">
    <app-navbar @toggle-drawer="toggleDrawer"></app-navbar>
    <div class="lg:w-4/5 2xl:w-3/4 m-auto h-auto">
      <azalea-plant-drawer v-show="drawerOpen" side="right" @close-drawer="toggleDrawer">
        <template #nav>
          <app-menu @click.native="toggleDrawer"></app-menu>
        </template>
      </azalea-plant-drawer>
      <div class="flex md:flex-row-reverse flex-wrap">
        <div class="w-full lg:w-4/5 lg:border-l lg:border-tertiary-200">
          <Nuxt />
        </div>
        <div class="hidden lg:block w-full lg:w-1/5 p-4 mx-auto overflow-y-auto">
          <app-menu></app-menu>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        drawerOpen: false,
      }
    },
    methods: {
      toggleDrawer() {
        this.drawerOpen = !this.drawerOpen
      },
    },
  }
</script>

<style lang="postcss"></style>
