<template>
  <div class="w-full p-4">
    <article>
      <azalea-sprout-heading :level="1" size="xlarge" class="mb-6">
        {{ page.title }}
      </azalea-sprout-heading>
      <p>{{ page.description }}</p>
      <nuxt-content :document="page" />
    </article>
  </div>
</template>

<script>
  export default {
    async asyncData({ $content, app, params, error }) {
      const path = `/${params.pathMatch || 'index'}`
      let page = {}
      const sections = ['design-system', 'docs', 'components', 'seeds']
      let isSection = false
      sections.forEach(function (item, index) {
        if (path.endsWith(item) || path.endsWith(`${item}/`)) {
          isSection = true
        }
      })
      if (isSection) {
        // Load the index page within main site sections
        const section = `${path.replace(/\/$/, '')}/index`
        page = await $content(section, { deep: true }).fetch()
      } else {
        page = await $content(path, { deep: true }).fetch()
      }
      if (!page) {
        return error({ statusCode: 404, message: 'Page not found' })
      }

      return {
        page,
      }
    },
    head() {
      return {
        title: this.page.title,
        meta: [{ hid: 'description', name: 'description', content: this.page.description }],
      }
    },
  }
</script>

<style scoped lang="postcss">
  /**
   * Add default heading spacing for documentation pages.
   */
  .nuxt-content {
    & h1,
    & h2 {
      @apply my-4 md:my-6;
    }
    & h3,
    & h4,
    & h5,
    & h6 {
      @apply my-2 md:my-4;
    }
  }
</style>
