<template>
  <div class="flex w-screen h-screen bg-gradient-to-b from-tertiary-100 via-secondary-300 to-secondary-400">
    <section class="m-auto w-1/2 text-center">
      <azalea-sprout-heading
        size="xlarge"
        :level="1"
        class="flex my-4 lg:my-6 items-center justify-center text-tertiary-800 text-center"
      >
        Azalea Design System
      </azalea-sprout-heading>
      <p class="text-base md:text-xl text-black my-4 lg:my-6">
        UI component library, common design language, and project documentation for the
        <a href="https://americanart.si.edu" class="text-black font-semibold"> Smithsonian American Art Museum </a>
        .
      </p>
      <nuxt-link to="/design-system">
        <azalea-sprout-push-button variant="primary">Explore</azalea-sprout-push-button>
      </nuxt-link>
    </section>
  </div>
</template>

<script>
  export default {
    layout: 'splash',
  }
</script>

<style lang="postcss"></style>
