<template>
  <div class="w-full p-4">
    <article>
      <azalea-sprout-heading :level="1" size="xlarge" class="mb-6">Prototype Page</azalea-sprout-heading>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erit enim mecum, si tecum erit. Quid iudicant sensus?
      </p>

      <p>Stoici scilicet. Quae similitudo in genere etiam humano apparet. Negare non possum. Negare non possum.</p>

      <p>
        Ratio enim nostra consentit, pugnat oratio. Quos quidem tibi studiose et diligenter tractandos magnopere censeo.
        Quid de Pythagora? Sin aliud quid voles, postea.
      </p>

      <p>
        Sed ego in hoc resisto; Quid, de quo nulla dissensio est? Sed tamen intellego quid velit. Nos cum te, M. At enim
        hic etiam dolore. Quare attende, quaeso.
      </p>

      <p>
        Quid enim possumus hoc agere divinius? Quamquam te quidem video minime esse deterritum. Sed fortuna fortis;
        Prioris generis est docilitas, memoria; Paria sunt igitur.
      </p>

      <p>
        Non quam nostram quidem, inquit Pomponius iocans; Poterat autem inpune; Qui ita affectus, beatum esse numquam
        probabis; Et quidem, inquit, vehementer errat; Duo Reges: constructio interrete. In schola desinis. Quo modo
        autem philosophus loquitur? Cur igitur, inquam, res tam dissimiles eodem nomine appellas?
      </p>

      <p>
        Vestri haec verecundius, illi fortasse constantius. Et ille ridens: Video, inquit, quid agas; Quid, quod res
        alia tota est? Ut aliquid scire se gaudeant? Consequens enim est et post oritur, ut dixi. Quodsi ipsam
        honestatem undique pertectam atque absolutam. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Cyrenaici
        quidem non recusant;
      </p>

      <p>
        Velut ego nunc moveor. Suam denique cuique naturam esse ad vivendum ducem. Quae cum dixisset paulumque
        institisset, Quid est? An eiusdem modi? Nunc vides, quid faciat. Occultum facinus esse potuerit, gaudebit;
      </p>

      <p>
        Disserendi artem nullam habuit. Ut aliquid scire se gaudeant? Omnia contraria, quos etiam insanos esse vultis.
        Sit enim idem caecus, debilis.
      </p>

      <p>
        Est enim effectrix multarum et magnarum voluptatum. Quid de Platone aut de Democrito loquar? Equidem e Cn.
        Graece donan, Latine voluptatem vocant.
      </p>

      <p>
        Sedulo, inquam, faciam. Perge porro; Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Non laboro,
        inquit, de nomine.
      </p>

      <p>
        Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Quae cum essent dicta, discessimus. Haec quo
        modo conveniant, non sane intellego. Cur iustitia laudatur? Primum Theophrasti, Strato, physicum se voluit;
        Quare ad ea primum, si videtur;
      </p>

      <p>
        Honesta oratio, Socratica, Platonis etiam. Haec dicuntur fortasse ieiunius; At iste non dolendi status non
        vocatur voluptas. Age sane, inquam. Quod quidem nobis non saepe contingit. Id est enim, de quo quaerimus.
      </p>

      <p>Aliter homines, aliter philosophos loqui putas oportere? Id enim natura desiderat.</p>

      <p>Ut optime, secundum naturam affectum esse possit. Non semper, inquam;</p>

      <p>
        Summus dolor plures dies manere non potest? Sin aliud quid voles, postea. Confecta res esset. Sequitur
        disserendi ratio cognitioque naturae;
      </p>

      <p>
        Itaque hic ipse iam pridem est reiectus; Haec para/doca illi, nos admirabilia dicamus. An haec ab eo non
        dicuntur?
      </p>

      <p>
        Recte, inquit, intellegis. Certe, nisi voluptatem tanti aestimaretis. Bestiarum vero nullum iudicium puto. Iam
        contemni non poteris.
      </p>

      <p>
        Dic in quovis conventu te omnia facere, ne doleas. Non potes, nisi retexueris illa. Ut id aliis narrare
        gestiant? Quid vero? Quod vestri non item. Quid igitur, inquit, eos responsuros putas?
      </p>

      <p>
        Respondeat totidem verbis. Quid, de quo nulla dissensio est? Bonum negas esse divitias, praeposìtum esse dicis?
        Sin aliud quid voles, postea. Quare conare, quaeso. An tu me de L.
      </p>

      <p>
        Iam in altera philosophiae parte. Non potes, nisi retexueris illa. Minime vero istorum quidem, inquit. Iam id
        ipsum absurdum, maximum malum neglegi.
      </p>

      <p>
        Multoque hoc melius nos veriusque quam Stoici. Suo enim quisque studio maxime ducitur. Quid sequatur, quid
        repugnet, vident.
      </p>

      <p>
        Ita multa dicunt, quae vix intellegam. Qua tu etiam inprudens utebare non numquam. Ratio quidem vestra sic
        cogit. Quantum Aristoxeni ingenium consumptum videmus in musicis?
      </p>

      <p>
        Quibus ego vehementer assentior. Sed quot homines, tot sententiae; Quod equidem non reprehendo; Egone non
        intellego, quid sit don Graece, Latine voluptas? Num quid tale Democritus? Etiam beatissimum? Cupiditates non
        Epicuri divisione finiebat, sed sua satietate.
      </p>

      <p>
        Videamus igitur sententias eorum, tum ad verba redeamus. Quid iudicant sensus? Haec quo modo conveniant, non
        sane intellego.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erit enim mecum, si tecum erit. Quid iudicant sensus?
      </p>

      <p>Stoici scilicet. Quae similitudo in genere etiam humano apparet. Negare non possum. Negare non possum.</p>

      <p>
        Ratio enim nostra consentit, pugnat oratio. Quos quidem tibi studiose et diligenter tractandos magnopere censeo.
        Quid de Pythagora? Sin aliud quid voles, postea.
      </p>

      <p>
        Sed ego in hoc resisto; Quid, de quo nulla dissensio est? Sed tamen intellego quid velit. Nos cum te, M. At enim
        hic etiam dolore. Quare attende, quaeso.
      </p>

      <p>
        Quid enim possumus hoc agere divinius? Quamquam te quidem video minime esse deterritum. Sed fortuna fortis;
        Prioris generis est docilitas, memoria; Paria sunt igitur.
      </p>

      <p>
        Non quam nostram quidem, inquit Pomponius iocans; Poterat autem inpune; Qui ita affectus, beatum esse numquam
        probabis; Et quidem, inquit, vehementer errat; Duo Reges: constructio interrete. In schola desinis. Quo modo
        autem philosophus loquitur? Cur igitur, inquam, res tam dissimiles eodem nomine appellas?
      </p>

      <p>
        Vestri haec verecundius, illi fortasse constantius. Et ille ridens: Video, inquit, quid agas; Quid, quod res
        alia tota est? Ut aliquid scire se gaudeant? Consequens enim est et post oritur, ut dixi. Quodsi ipsam
        honestatem undique pertectam atque absolutam. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Cyrenaici
        quidem non recusant;
      </p>

      <p>
        Velut ego nunc moveor. Suam denique cuique naturam esse ad vivendum ducem. Quae cum dixisset paulumque
        institisset, Quid est? An eiusdem modi? Nunc vides, quid faciat. Occultum facinus esse potuerit, gaudebit;
      </p>

      <p>
        Disserendi artem nullam habuit. Ut aliquid scire se gaudeant? Omnia contraria, quos etiam insanos esse vultis.
        Sit enim idem caecus, debilis.
      </p>

      <p>
        Est enim effectrix multarum et magnarum voluptatum. Quid de Platone aut de Democrito loquar? Equidem e Cn.
        Graece donan, Latine voluptatem vocant.
      </p>

      <p>
        Sedulo, inquam, faciam. Perge porro; Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Non laboro,
        inquit, de nomine.
      </p>

      <p>
        Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Quae cum essent dicta, discessimus. Haec quo
        modo conveniant, non sane intellego. Cur iustitia laudatur? Primum Theophrasti, Strato, physicum se voluit;
        Quare ad ea primum, si videtur;
      </p>

      <p>
        Honesta oratio, Socratica, Platonis etiam. Haec dicuntur fortasse ieiunius; At iste non dolendi status non
        vocatur voluptas. Age sane, inquam. Quod quidem nobis non saepe contingit. Id est enim, de quo quaerimus.
      </p>

      <p>Aliter homines, aliter philosophos loqui putas oportere? Id enim natura desiderat.</p>

      <p>Ut optime, secundum naturam affectum esse possit. Non semper, inquam;</p>

      <p>
        Summus dolor plures dies manere non potest? Sin aliud quid voles, postea. Confecta res esset. Sequitur
        disserendi ratio cognitioque naturae;
      </p>

      <p>
        Itaque hic ipse iam pridem est reiectus; Haec para/doca illi, nos admirabilia dicamus. An haec ab eo non
        dicuntur?
      </p>

      <p>
        Recte, inquit, intellegis. Certe, nisi voluptatem tanti aestimaretis. Bestiarum vero nullum iudicium puto. Iam
        contemni non poteris.
      </p>

      <p>
        Dic in quovis conventu te omnia facere, ne doleas. Non potes, nisi retexueris illa. Ut id aliis narrare
        gestiant? Quid vero? Quod vestri non item. Quid igitur, inquit, eos responsuros putas?
      </p>

      <p>
        Respondeat totidem verbis. Quid, de quo nulla dissensio est? Bonum negas esse divitias, praeposìtum esse dicis?
        Sin aliud quid voles, postea. Quare conare, quaeso. An tu me de L.
      </p>

      <p>
        Iam in altera philosophiae parte. Non potes, nisi retexueris illa. Minime vero istorum quidem, inquit. Iam id
        ipsum absurdum, maximum malum neglegi.
      </p>

      <p>
        Multoque hoc melius nos veriusque quam Stoici. Suo enim quisque studio maxime ducitur. Quid sequatur, quid
        repugnet, vident.
      </p>

      <p>
        Ita multa dicunt, quae vix intellegam. Qua tu etiam inprudens utebare non numquam. Ratio quidem vestra sic
        cogit. Quantum Aristoxeni ingenium consumptum videmus in musicis?
      </p>

      <p>
        Quibus ego vehementer assentior. Sed quot homines, tot sententiae; Quod equidem non reprehendo; Egone non
        intellego, quid sit don Graece, Latine voluptas? Num quid tale Democritus? Etiam beatissimum? Cupiditates non
        Epicuri divisione finiebat, sed sua satietate.
      </p>

      <p>
        Videamus igitur sententias eorum, tum ad verba redeamus. Quid iudicant sensus? Haec quo modo conveniant, non
        sane intellego.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Erit enim mecum, si tecum erit. Quid iudicant sensus?
      </p>

      <p>Stoici scilicet. Quae similitudo in genere etiam humano apparet. Negare non possum. Negare non possum.</p>

      <p>
        Ratio enim nostra consentit, pugnat oratio. Quos quidem tibi studiose et diligenter tractandos magnopere censeo.
        Quid de Pythagora? Sin aliud quid voles, postea.
      </p>

      <p>
        Sed ego in hoc resisto; Quid, de quo nulla dissensio est? Sed tamen intellego quid velit. Nos cum te, M. At enim
        hic etiam dolore. Quare attende, quaeso.
      </p>

      <p>
        Quid enim possumus hoc agere divinius? Quamquam te quidem video minime esse deterritum. Sed fortuna fortis;
        Prioris generis est docilitas, memoria; Paria sunt igitur.
      </p>

      <p>
        Non quam nostram quidem, inquit Pomponius iocans; Poterat autem inpune; Qui ita affectus, beatum esse numquam
        probabis; Et quidem, inquit, vehementer errat; Duo Reges: constructio interrete. In schola desinis. Quo modo
        autem philosophus loquitur? Cur igitur, inquam, res tam dissimiles eodem nomine appellas?
      </p>

      <p>
        Vestri haec verecundius, illi fortasse constantius. Et ille ridens: Video, inquit, quid agas; Quid, quod res
        alia tota est? Ut aliquid scire se gaudeant? Consequens enim est et post oritur, ut dixi. Quodsi ipsam
        honestatem undique pertectam atque absolutam. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Cyrenaici
        quidem non recusant;
      </p>

      <p>
        Velut ego nunc moveor. Suam denique cuique naturam esse ad vivendum ducem. Quae cum dixisset paulumque
        institisset, Quid est? An eiusdem modi? Nunc vides, quid faciat. Occultum facinus esse potuerit, gaudebit;
      </p>

      <p>
        Disserendi artem nullam habuit. Ut aliquid scire se gaudeant? Omnia contraria, quos etiam insanos esse vultis.
        Sit enim idem caecus, debilis.
      </p>

      <p>
        Est enim effectrix multarum et magnarum voluptatum. Quid de Platone aut de Democrito loquar? Equidem e Cn.
        Graece donan, Latine voluptatem vocant.
      </p>

      <p>
        Sedulo, inquam, faciam. Perge porro; Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Non laboro,
        inquit, de nomine.
      </p>

      <p>
        Diodorus, eius auditor, adiungit ad honestatem vacuitatem doloris. Quae cum essent dicta, discessimus. Haec quo
        modo conveniant, non sane intellego. Cur iustitia laudatur? Primum Theophrasti, Strato, physicum se voluit;
        Quare ad ea primum, si videtur;
      </p>

      <p>
        Honesta oratio, Socratica, Platonis etiam. Haec dicuntur fortasse ieiunius; At iste non dolendi status non
        vocatur voluptas. Age sane, inquam. Quod quidem nobis non saepe contingit. Id est enim, de quo quaerimus.
      </p>

      <p>Aliter homines, aliter philosophos loqui putas oportere? Id enim natura desiderat.</p>

      <p>Ut optime, secundum naturam affectum esse possit. Non semper, inquam;</p>

      <p>
        Summus dolor plures dies manere non potest? Sin aliud quid voles, postea. Confecta res esset. Sequitur
        disserendi ratio cognitioque naturae;
      </p>

      <p>
        Itaque hic ipse iam pridem est reiectus; Haec para/doca illi, nos admirabilia dicamus. An haec ab eo non
        dicuntur?
      </p>

      <p>
        Recte, inquit, intellegis. Certe, nisi voluptatem tanti aestimaretis. Bestiarum vero nullum iudicium puto. Iam
        contemni non poteris.
      </p>

      <p>
        Dic in quovis conventu te omnia facere, ne doleas. Non potes, nisi retexueris illa. Ut id aliis narrare
        gestiant? Quid vero? Quod vestri non item. Quid igitur, inquit, eos responsuros putas?
      </p>

      <p>
        Respondeat totidem verbis. Quid, de quo nulla dissensio est? Bonum negas esse divitias, praeposìtum esse dicis?
        Sin aliud quid voles, postea. Quare conare, quaeso. An tu me de L.
      </p>

      <p>
        Iam in altera philosophiae parte. Non potes, nisi retexueris illa. Minime vero istorum quidem, inquit. Iam id
        ipsum absurdum, maximum malum neglegi.
      </p>

      <p>
        Multoque hoc melius nos veriusque quam Stoici. Suo enim quisque studio maxime ducitur. Quid sequatur, quid
        repugnet, vident.
      </p>

      <p>
        Ita multa dicunt, quae vix intellegam. Qua tu etiam inprudens utebare non numquam. Ratio quidem vestra sic
        cogit. Quantum Aristoxeni ingenium consumptum videmus in musicis?
      </p>

      <p>
        Quibus ego vehementer assentior. Sed quot homines, tot sententiae; Quod equidem non reprehendo; Egone non
        intellego, quid sit don Graece, Latine voluptas? Num quid tale Democritus? Etiam beatissimum? Cupiditates non
        Epicuri divisione finiebat, sed sua satietate.
      </p>

      <p>
        Videamus igitur sententias eorum, tum ad verba redeamus. Quid iudicant sensus? Haec quo modo conveniant, non
        sane intellego.
      </p>
    </article>
  </div>
</template>

<script>
  export default {
    layout: 'prototype',
  }
</script>
