<template>
  <div class="azalea-navbar w-full px-4 md:px-12 lg:px-24 py-6 mb-6 text-tertiary-900 bg-white">
    <div class="flex">
      <div class="flex justify-start w-12 md:w-16 lg:w-32">
        <slot name="logo"></slot>
      </div>
      <div class="hidden md:flex flex-col-reverse w-full">
        <nav class="primary-nav">
          <slot name="primary-nav"></slot>
        </nav>
        <nav class="secondary-nav">
          <slot name="secondary-nav"></slot>
        </nav>
        <div class="top-bar">
          <slot name="top-bar"></slot>
        </div>
      </div>
      <div class="mobile">
        <slot name="mobile"></slot>
      </div>
    </div>
    <div class="bottom-bar">
      <slot name="bottom-bar"></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'AzaleaGardenNavbar',
  }
</script>

<style lang="postcss">
  .azalea-navbar {
    & ul {
      @apply p-0;
    }
    & .primary-nav {
      & a {
        @apply text-tertiary-900;
      }
      @apply py-4 text-3xl text-tertiary-900 font-light leading-10;
    }
    & .secondary-nav {
      & a {
        @apply text-tertiary-700;
      }
      @apply py-4 text-lg text-tertiary-700 font-semibold leading-6;
    }
    & .top-bar {
      & a {
        @apply text-tertiary-500;
      }
      @apply flex flex-row justify-end space-x-2 py-2 text-sm text-tertiary-500 uppercase;
    }
    & .mobile {
      @apply flex md:hidden flex-row justify-end w-full py-2;
    }
    & .bottom-bar {
      @apply hidden md:flex flex-row justify-start w-full space-x-2 mt-2;
    }
  }
</style>
