<template>
  <component :is="element" :class="classes">
    <slot></slot>
  </component>
</template>

<script>
  export default {
    name: 'AzaleaSproutBodyText',
    props: {
      align: {
        type: String,
        default: 'left',
      },
      size: {
        type: String,
        default: 'medium',
      },
      weight: {
        type: String,
        default: 'normal',
      },
      prose: {
        type: Boolean,
        default: false,
      },
      as: {
        type: String,
        default: 'div',
      },
    },
    data() {
      return {
        element: 'div',
        classes: [],
      }
    },
    created() {
      if (['p', 'span', 'div'].includes(this.as.toLowerCase())) {
        this.element = this.as.toLowerCase()
      }
      const classes = ['azalea-body-text font-body subpixel-antialiased leading-6']
      const align = ['left', 'right'].includes(this.align.toLowerCase()) ? this.align.toLowerCase() : 'left'
      switch (align) {
        case 'right':
          classes.push('text-right')
          break
        case 'left':
          classes.push('text-left')
          break
        case 'center':
          classes.push('text-center')
          break
        case 'justify':
          classes.push('text-justify')
          break
      }
      const size = ['xsmall', 'small', 'medium', 'large', 'xlarge'].includes(this.size.toLowerCase())
        ? this.size.toLowerCase()
        : 'medium'
      switch (size) {
        case 'xlarge':
          classes.push('text-2xl md:text-3xl lg:text-4xl')
          break
        case 'large':
          classes.push('text-xl md:text-2xl lg:text-3xl')
          break
        case 'medium':
          classes.push('text-base lg:text-lg')
          break
        case 'small':
          classes.push('text-sm lg:text-base')
          break
        case 'xsmall':
          classes.push('text-xs lg:text-sm')
          break
      }
      const weight = ['thin', 'extralight', 'light', 'normal', 'semibold', 'bold', 'extrabold'].includes(
        this.weight.toLowerCase()
      )
        ? this.weight.toLowerCase()
        : 'normal'
      switch (weight) {
        case 'extrabold':
          classes.push('font-extrabold')
          break
        case 'bold':
          classes.push('font-bold')
          break
        case 'semibold':
          classes.push('font-semibold')
          break
        case 'normal':
          classes.push('font-normal')
          break
        case 'light':
          classes.push('font-light')
          break
        case 'extralight':
          classes.push('font-extralight')
          break
        case 'thin':
          classes.push('font-thin')
          break
      }
      if (this.prose) {
        classes.push('max-w-prose mx-auto')
      }
      this.classes = classes
    },
  }
</script>
