<template>
  <component :is="element" :class="classes">
    <slot></slot>
  </component>
</template>

<script>
  export default {
    name: 'AzaleaSproutContainer',
    props: {
      /**
       * The component variations.
       * @values 'primary', 'secondary', 'tertiary'
       */
      variant: {
        type: String,
        default: 'default',
      },
      contain: {
        type: Boolean,
        default: false,
      },
      /**
       * The HTML element.
       */
      as: {
        type: String,
        default: 'div',
      },
    },
    data() {
      return {
        element: 'div',
        classes: [],
      }
    },
    created() {
      if (['article', 'aside', 'footer', 'header', 'main', 'section'].includes(this.as.toLowerCase())) {
        this.element = this.as.toLowerCase()
      }
      const classes = ['azalea-container']
      if (this.contain) {
        classes.push('container mx-auto')
      } else {
        classes.push('w-full')
      }
      switch (this.element) {
        case 'header':
          classes.push('mb-2 px-2 md:px-4 lg:px-8 py-2 md:py-4')
          break
        case 'footer':
          classes.push('mt-2 px-2 md:px-4 lg:px-8 py-2 md:py-4')
          break
        default:
          classes.push('p-2 md:p-3 lg:p-4 xl:p-8')
      }
      const type = ['primary', 'secondary', 'tertiary'].includes(this.variant.toLowerCase())
        ? this.variant.toLowerCase()
        : 'default'
      switch (type) {
        case 'primary':
          classes.push('bg-gradient-to-l from-primary-700 to-primary-800 text-white')
          break
        case 'secondary':
          classes.push('bg-gradient-to-l from-secondary-400 to-secondary-500 text-white')
          break
        case 'tertiary':
          classes.push('bg-gradient-to-l from-tertiary-200 to-tertiary-300')
          break
      }
      this.classes = classes
    },
  }
</script>
