<template>
  <div v-if="message" class="pr-3 pt-2 flex justify-start align-text-bottom pointer-events-none text-sm text-error">
    <azalea-sprout-icon icon="exclamation-circle" size="small" :class="`mr-1`"></azalea-sprout-icon>
    <p id="`${id}-error`" v-text="message"></p>
  </div>
</template>

<script>
  import AzaleaSproutIcon from '~/components/azalea/sprout/Icon'

  export default {
    name: 'AzaleaSproutFormControlError',
    components: { AzaleaSproutIcon },
    props: {
      message: {
        type: String,
        default: '',
      },
    },
  }
</script>
