<template>
  <component :is="element" :class="classes">
    <slot></slot>
  </component>
</template>

<script>
  export default {
    name: 'AzaleaSproutHeading',
    props: {
      size: {
        type: String,
        default: 'medium',
      },
      weight: {
        type: String,
        default: 'normal',
      },
      as: {
        type: String,
        default: 'div',
      },
    },
    data() {
      return {
        element: 'div',
        classes: [],
      }
    },
    created() {
      if (['h1', 'h2', 'h3', 'h4', 'h5', 'h6'].includes(this.as.toLowerCase())) {
        this.element = this.as.toLowerCase()
      }
      const classes = ['azalea-heading font-heading']
      const fontSize = ['xsmall', 'small', 'medium', 'large', 'xlarge'].includes(this.size.toLowerCase())
        ? this.size.toLowerCase()
        : 'medium'
      switch (fontSize) {
        case 'xlarge':
          classes.push('text-5xl md:text-6xl lg:text-7xl xl:text-8xl leading-none tracking-tighter mb-4 md:mb-5 lg:mb-6')
          break
        case 'large':
          classes.push('text-2xl md:text-3xl lg:text-6xl leading-none')
          break
        case 'medium':
          classes.push('text-xl md:text-2xl lg:text-4xl leading-10')
          break
        case 'small':
          classes.push('text-xl lg:text-2xl leading-8')
          break
        case 'xsmall':
          classes.push('text-lg md:text-xl leading-7')
          break
      }
      const fontWeight = ['thin', 'extralight', 'light', 'normal', 'semibold', 'bold', 'extrabold'].includes(
        this.weight.toLowerCase()
      )
        ? this.weight.toLowerCase()
        : 'normal'
      switch (fontWeight) {
        case 'extrabold':
          classes.push('font-extrabold')
          break
        case 'bold':
          classes.push('font-bold')
          break
        case 'semibold':
          classes.push('font-semibold')
          break
        case 'normal':
          classes.push('font-normal')
          break
        case 'light':
          classes.push('font-light')
          break
        case 'extralight':
          classes.push('font-extralight')
          break
        case 'thin':
          classes.push('font-thin')
          break
      }
      this.classes = classes
    },
  }
</script>
