<template>
  <component :is="as" v-bind="link" :target="target" :title="title">
    <slot></slot>
  </component>
</template>

<script>
  export default {
    name: 'AzaleaSproutLink',
    props: {
      href: {
        type: String,
        default: '',
      },
      route: {
        type: Object,
        default: () => {},
      },
      title: {
        type: String,
        default: '',
      },
      target: {
        type: String,
        default: '',
      },
      external: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      as() {
        return this.external ? 'a' : 'nuxt-link'
      },
      link() {
        if (!this.external) {
          if (this.route) {
            return { to: this.route }
          }
          return { to: this.href }
        }
        return { href: this.href }
      },
    },
  }
</script>
