<template>
  <button
    type="button"
    :class="[
      enabled ? 'bg-secondary-600' : 'bg-tertiary-200',
      'relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary-500',
    ]"
    role="switch"
    :aria-checked="enabled"
    @click="toggle"
  >
    <span
      aria-hidden="true"
      :class="[
        enabled ? 'translate-x-5' : 'translate-x-0',
        'pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200',
      ]"
    ></span>
  </button>
</template>

<script>
  export default {
    name: 'AzaleaSproutSwitch',
    props: {
      defaultEnabled: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        enabled: this.defaultEnabled,
      }
    },
    methods: {
      toggle() {
        this.enabled = !this.enabled
      },
    },
  }
</script>
