<template>
  <transition name="dismiss">
    <div v-if="visible" class="azalea-alert p-4 rounded-xl" :class="variant">
      <div class="flex">
        <azalea-sprout-body-text class="ml-3 my-auto flex-1">
          {{ message }}
        </azalea-sprout-body-text>
        <div v-if="dismissible" class="ml-auto mr-4 pl-3">
          <!-- TODO: Replace this inline button with an Button component variation "inverse", for example a "primary-inverse" button might use the primary color for text, borders, etc but have a light background. -->
          <div v-if="dismissible" class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
            <azalea-sprout-push-button variant="text" @click="visible = false">
              <span class="sr-only">Dismiss</span>
              <azalea-sprout-icon icon="x"></azalea-sprout-icon>
            </azalea-sprout-push-button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'AzaleaSeedlingAlert',
    props: {
      /**
       * The component variations.
       * @values 'primary', 'secondary', 'tertiary'
       */
      variant: {
        type: String,
        default: 'tertiary',
      },
      dismissible: {
        type: Boolean,
        default: true,
      },
      message: {
        type: String,
        default: '',
      },
    },
    data() {
      return {
        visible: true,
      }
    },
  }
</script>

<style lang="postcss">
  .azalea-alert {
    &.primary {
      @apply bg-primary-700;
      & .azalea-body-text {
        @apply text-tertiary-50;
      }
      & .azalea-push-button .azalea-icon {
        @apply text-tertiary-50;
      }
    }
    &.secondary {
      @apply bg-secondary-200;
      & .azalea-body-text {
        @apply text-secondary-800;
      }
    }
    &.tertiary {
      @apply bg-tertiary-200;
      & .azalea-body-text {
        @apply text-tertiary-800;
      }
      & .azalea-push-button .azalea-icon {
        @apply text-tertiary-50;
      }
    }
  }
  .dismiss-leave-active {
    @apply opacity-0 transition-opacity duration-200 ease-out;
  }
</style>
