<template>
  <div>
    <dt class="">
      <button
        v-if="collapsible"
        :aria-controls="`${id}-content`"
        class="flex justify-between w-full py-4 md:py-5 lg:py-6"
        @click="toggle"
      >
        <span>{{ term }}</span>
        <azalea-sprout-icon
          size="medium"
          icon="chevron-down"
          class="inline-flex justify-end transform transition duration-200 text-tertiary-500"
          :class="isExpanded ? 'rotate-0 ease-out' : '-rotate-180 ease-in'"
        ></azalea-sprout-icon>
      </button>
      <span v-else>{{ term }}</span>
    </dt>
    <dd v-show="!collapsible || isExpanded">
      <slot></slot>
    </dd>
  </div>
</template>

<script>
  import { v4 as uuid } from 'uuid'
  import AzaleaSproutIcon from '~/components/azalea/sprout/Icon'
  export default {
    name: 'AzaleaSeedlingDescriptionListItem',
    components: { AzaleaSproutIcon },
    props: {
      collapsible: {
        type: Boolean,
        default: false,
      },
      defaultExpanded: {
        type: Boolean,
        required: false,
        default: true,
      },
      term: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        expanded: this.defaultExpanded,
        id: null,
      }
    },
    computed: {
      isExpanded() {
        return this.collapsible && this.expanded
      },
    },
    mounted() {
      this.id = uuid()
    },
    methods: {
      toggle() {
        this.expanded = !this.expanded
      },
    },
  }
</script>
