<template>
  <nav v-if="items" class="azalea-nav-list mb-4" :class="variant" role="navigation" :aria-label="label">
    <ul class="p-0 azalea-scrollbar-hidden">
      <li
        v-for="item in items"
        :key="item.path"
        :class="{ 'text-tertiary-900 bg-tertiary-200': $route.path === item.path }"
        class="text-sm font-medium"
      >
        <azalea-sprout-link :href="item.path" class="azalea-underline text-tertiary-600 hover:text-tertiary-900">
          <span class="truncate">{{ item.title }}</span>
        </azalea-sprout-link>
      </li>
    </ul>
    <!-- Todo expand the page "toc" -->
  </nav>
</template>

<script>
  export default {
    name: 'AzaleaSeedlingNavList',
    props: {
      /**
       * The component variations.
       * @values 'vertical', 'horizontal'
       */
      variant: {
        type: String,
        default: 'vertical',
      },
      items: {
        type: Array,
        default: () => [],
      },
      label: {
        type: String,
        default: '',
      },
      sticky: {
        type: Boolean,
        default: false,
      },
    },
  }
</script>

<style lang="postcss">
  .azalea-nav-list {
    &.vertical ul li {
      @apply flex items-center mb-1 px-4 py-2 hover:bg-tertiary-100 rounded-md;
    }
    &.horizontal ul {
      @apply flex flex-nowrap space-x-6 overflow-x-auto overscroll-contain;
    }
  }
</style>
