<template>
  <component :is="as" class="flex flex-row space-x-2 md:space-x-4 xl:space-x-6 content-start text-tertiary-500">
    <azalea-sprout-push-button
      variant="label"
      class="pl-0 overflow-ellipsis overflow-hidden"
      @mousedown.prevent
      @click="$emit('suggestion-selected', text)"
      @keydown="$emit('suggestion-selected', text)"
    >
      <azalea-sprout-icon
        v-if="iconName"
        :icon="iconName"
        class="mr-2 md:mr-4 xl:mr-6 overflow-visible"
      ></azalea-sprout-icon>
      <span class="truncate" v-html="text"></span>
    </azalea-sprout-push-button>
    <azalea-sprout-link
      v-if="link && linkText"
      v-bind="link"
      class="py-4 text-sn font-light"
      @click.native="$emit('suggestion-link-clicked')"
    >
      <span>{{ linkText }}</span>
    </azalea-sprout-link>
    <!-- TODO Add an "x" button with an event to clear a suggestion -->
  </component>
</template>

<script>
  export default {
    name: 'AzaleaSeedlingSearchSuggestion',
    props: {
      as: {
        type: String,
        default: 'li',
      },
      text: {
        type: String,
        default: '',
      },
      linkText: {
        type: String,
        default: '',
      },
      iconName: {
        type: String,
        default: '',
      },
      /**
       * Props for an AzaleaSproutLink component.
       */
      link: {
        type: Object,
        default: () => {},
      },
    },
  }
</script>
